.about-me {
    &-img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        box-shadow: 0 0 10px 2px #e6f3ff;
    }
    
    &-name {
        margin-top: 0.5rem;
        text-align: center;
    }
    
    &-bio {
        display: inline-block;
        font-size: 0.6rem;
    }    
}