.about-me {
    &-img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        box-shadow: 0 0 10px 2px #e6f3ff;
        transition: all 0.3s linear;
        &:hover{
            animation: pulse 1s infinite;
        }
    }
    
    &-name {
        margin-top: 0.5rem;
        text-align: center;
    }
    
    &-bio {
        display: inline-block;
        font-size: 0.6rem;
    }    
}



@keyframes pulse {
    0% {
        box-shadow: 0 0 10px 2px #e6f3ff;
        transform: rotate(0deg);
    }
    33% {
        box-shadow: 0 0 40px 20px #e6f3ff;
        transform: rotate(-45deg);
    }
    66% {
        box-shadow: 0 0 40px 20px #e6f3ff;
        transform: rotate(45deg);
    }
    100% {
        box-shadow: 0 0 10px 2px #e6f3ff;
        transform: rotate(0deg);
    }
}


.section-content.about-content {
    justify-content: center;
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.section-description.about-description {
    @media screen and (max-width: 1024px) {
        margin-top: 2rem;
        width: 100%;
    }
}