.navbar {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    z-index: 10;
    margin: 0.6rem 0.2rem;

    &-links {
        display: flex;
        flex-direction: column;
        padding: 0.3rem 0;
        > a{
            padding: 0 0.2rem;
            background-color: transparent;
        }
    }

    &-img {
        width: 2.5rem;
        height: 2.5rem;
        transition: all 0.3s ease;

        &.filled {
            background: white;
            border-radius: 30px;
        }

        &:hover {
            background-color: darkgray;
        }
    }
}

