.section {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding: 2rem 10rem;
    box-shadow: inset 0px 0 2rem 1rem rgba(0,0,0,0.8);
    min-height: 30rem;
    width: 100%;
    
    &-highlights {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2rem;
    }

    &-description {
        width: 25rem;
        font-size: 0.8rem;
        margin-left: 2rem;
    }

    &-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 0;
    }
    
    &-header {
        display: inline-block;
        font-size: 1.5rem;
        border-bottom: 2px solid white;
        text-shadow: 1px 1px black;
    }
        
    &-main-description {
        margin-top: 1rem;
        font-size: 0.75rem;
        line-height: 1rem;
        background-color: rgba(63, 63, 63, 0.55);
        border-radius: 10px;
        padding: 1rem;
    }

    &.about {
        background-image: url('/assets/backgrounds/bg4.jpg');
    }

    &.early-years {
        background-image: url('/assets/backgrounds/bg5.jpg');
    }

    &.early-years-cont {
        background-image: url('/assets/backgrounds/bg6.jpg');
    }

    &.mid-years {
        background-image: url('/assets/backgrounds/bg7.jpg');
    }

    &.college {
        background-image: url('/assets/backgrounds/bg22.jpg');
    }

    &.college-cont {
        background-image: url('/assets/backgrounds/bg15.jpg');
    }

    &.jobs {
        background-image: url('/assets/backgrounds/bg17.jpg');
    }

    &.jobs-cont {
        background-image: url('/assets/backgrounds/bg10.jpg');
    }

    &.jobs-cont-2 {
        background-image: url('/assets/backgrounds/bg14.jpg');
    }

    &-main-description > p {
        min-height: 6rem;
        margin-top: 0.3rem;
    }

    &-main-description > p:first-of-type:first-letter,
    &-description > p:first-of-type:first-letter {
        font-size: 1.3rem;
    }
}

.bordered-container {
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 1rem 2rem;
    background-color: rgba(63, 63, 63, 0.5);
    color: white;
}

.image{
    &-screenshots {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 1rem;
        border-radius: 20px;
        clear: both;
        justify-content: center;
    }

    &-screenshot {
        width: 6rem;
        height: 6rem;
        margin: 0 0.3rem;
        border-radius: 5px;
        box-shadow: 3px 3px 2px 2px black;

        transition: transform 0.3s;
    
        &:hover {
            transform: scale(1.2);
        }
    }
    
    &-near-text {
        max-width: 6rem;
        height: 6rem;
        margin-right: 1.6rem;
        margin-bottom: 0.4rem;
        margin-top: 0.3rem;
        float: left;
        clear: both;

        &.filled {
            background: white;
            border-radius: 30px;
        }
    }
}

.video-container {
    width: 25rem;
    max-width: 50%;
    height: 10rem;
}