.section {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding: 2rem 10rem;
    box-shadow: inset 0px 0 2rem 1rem rgba(0,0,0,0.8);
    min-height: 30rem;
}

.dotted-container {
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 1rem 2rem;
    background-color: rgba(63, 63, 63, 0.5);
    color: white;
}

.section-highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2rem;
}

.section-description {
    width: 25rem;
    font-size: 0.8rem;
    margin-left: 2rem;
}

.section-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}

.section-header {
    display: inline-block;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
}

.section.about {
    background-image: url('build/assets/backgrounds/bg4.jpg');
}

.section.early-years {
    background-image: url('build/assets/backgrounds/bg1.jpg');
}

.section.early-years-cont {
    background-image: url('build/assets/backgrounds/bg5.jpg');
}

.section.mid-years {
    background-image: url('build/assets/backgrounds/bg19.jpg');
}

.section.college {
    background-image: url('build/assets/backgrounds/bg17.png');
}

.section.college-cont {
    background-image: url('build/assets/backgrounds/bg15.jpg');
}

.section.jobs {
    background-image: url('build/assets/backgrounds/bg17.jpg');
}

.section-main-description {
    margin-top: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgba(63, 63, 63, 0.55);
    border-radius: 10px;
    padding: 1rem;
}

.section-main-description > p:first-letter,
.section-description > p:first-letter {
    font-size: 1.3rem;
}

.image-screenshots {
    display: flex;
    flex-wrap: wrap;
    margin: 0.2rem 0;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.image-screenshot {
    width: 6rem;
    height: 6rem;
    margin: 0 0.3rem;
    border-radius: 5px;
}

.image-near-text {
    float: left;
    height: 6rem;
    margin-right: 1.6rem;
}

.image-near-text.filled {
    background: white;
    border-radius: 30px;
}

.section-with-floating-image {
    display: flex;
}
